<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halbae87.koreanbasicime"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" />
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"/>

    <application android:label="@string/ime_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false">
        <service android:name="SoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>

</manifest>
